<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/benefits.css">

        <!-- Google Fonts: Raleway -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+Pro:wght@400;600;700&display=swap" rel="stylesheet">

        <!-- Line Awesome: (https://icons8.com/line-awesome) -->
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

       
        <title>Benefits</title>
    </head>
<body>
        <!-- Custom Collapsable  Navbar - Bootstrap Base - Translucent - Allows Carousel Behind It -->
        <nav class="navbar navbar-expand-md fixed-top pr-0">
            <!-- Brand -->
            <span class="navbar-brand mb-0 h1">
                <!-- Brand Heart Icon: (https://jam-icons.com/, heart-f) -->
                {{!-- <a href="http://flip2.engr.oregonstate.edu:11734/"> --}}
                <a href="https://keto-love.herokuapp.com/">
                    Keto<sup><span class="brand-icon" data-jam="heart-f"></span></sup>
                </a>
            </span> 
                
            <!-- Custom Toggler - Bootstrap Base - New Icon - New Size - New Color -->
            <button class="navbar-toggler custom-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarNav">
                <!-- Line Awesome Menu: (https://icons8.com/line-awesome)-->
                <i id="custom-toggler-image" class="las la-bars"></i>
            </button>

            <!-- Custom Navbar Items - Bootstrap Base - New Size - New Font - New Color -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        {{!-- <a href="http://flip2.engr.oregonstate.edu:11734/"> --}}
                        <a href="https://keto-love.herokuapp.com/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="benefits" class="nav-link">Benefits</a>
                    </li>
                    <li class="nav-item">
                        <a href="risks" class="nav-link">Risks</a>
                    </li>
                    <li class="nav-item">
                        <a href="recipes" class="nav-link">Recipes</a>
                    </li>
                </ul>
            </div>  
        </nav>

        <section id="benefits" class="container-fluid px-0">
            <div class="row vw-100">
                <div class="mb-5 col-12 col-md-6 benefit-list d-flex flex-row justify-content-center align-items-center text-center order-2 order-md-1">
                    <div>
                        <h1>Benefits of Body</h1>
                        <h3>Weight loss</h3>
                        <h3>Reduced blood suger levels</h3>
                        <h3>Reduced insulin levels</h3>
                        <h3>Higher good cholesterol</h3>
                    </div>
                </div>
                
                <div class="mb-5 col-12 col-md-6 benefit-img order-1 order-md-2">
                    {{!-- https://undraw.co/ -- Personal Trainer --}}
                    <img class="img-fluid" src="/img/body-health.svg">
                </div>
            </div>

            <div class="row vw-100">
                <div class="mb-5 col-12 col-md-6 benefit-img order-1 order-md-1">
                    {{!-- https://undraw.co/ -- Personal Trainer --}}
                    <img class="img-fluid" src="/img/mind-health.svg">
                </div>

                <div class="mb-5 col-12 col-md-6 benefit-list d-flex flex-row justify-content-center align-items-center text-center order-2 order-md-2">
                    <div>
                        <h1>Benefits of Mind</h1>
                        <h3>Lower anxiety levels</h3>
                        <h3>Improved mood</h3>
                        <h3>Improvement in depression</h3>
                        <h3>Higher focus</h3>
                    </div>
                </div>
            </div>

            <div class="row vw-100">
                <div class="mb-5 col-12 col-md-6 benefit-list d-flex flex-row justify-content-center align-items-center text-center order-2 order-md-1">
                    <div>
                        <h1>Wellness benefits</h1>
                        <h3>Better sleep</h3>
                        <h3>Reduction of sleep apnea</h3>
                        <h3>Higher more consistent energy</h3>
                        <h3>Improved libido</h3>
                    </div>
                </div>
                
                <div class="mb-5 col-12 col-md-6 benefit-img order-1 order-md-2">
                    {{!-- https://www.manypixels.co/ -- Dream --}}
                    <img class="img-fluid" src="/img/wellness.svg">
                </div>
            </div>
        </section>



        <!-- Footer Section -->
        <section class="footer container-fluid vw-100 pt-3 mt-2">
            <!-- SVG Image Citation-->
            <div class="row footer justify-content-end align-items-end pr-2">
                <p class="citation m-0">
                    Undraw.co SVG Images: Personal Trainer, Mindfulness <a href="https://undraw.co/" target="_blank">https://undraw.co/</a>
                    , Accessed 22 May 2020
                </p>
            </div>

            <div class="row footer justify-content-end align-items-end pr-2">
                <p class="citation m-0">
                    Manypixels.co SVG Images: Dream <a href="https://www.manypixels.co/" target="_blank">https://www.manypixels.co/</a>
                    , Accessed 22 May 2020
                </p>
            </div>

            <!-- Heart Icon Citation -->
            <div class="row footer justify-content-end align-items-end pr-2">
                <p class="citation m-0">
                    Jam Icons: heart-f <a href="https://jam-icons.com/" target="_blank">https://jam-icons.com/</a>
                    , Accessed 22 May 2020
                </p>
            </div>

            <!-- Footer: Menu Icon Citation -->
            <div class="row footer justify-content-end align-items-end pr-2">
                <p class="citation m-0">
                    Line Awesome Icons: menu <a href="https://icons8.com/line-awesome" target="_blank">https://icons8.com/line-awesome</a>
                    , Accessed 22 May 2020
                </p>
            </div>
        </section>

        <!-- Jam Icons (https://jam-icons.com/) -->
        <script src="https://unpkg.com/jam-icons/js/jam.min.js"></script>

        <!-- JavaScript for Bootstap -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS (imported from Bootstrap documentation)-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>        
        
        <!-- Custom JavaScript -->
        <script src="/js/script.js"></script>


</body>
</html>